---
---
{% include head.html %}
<figure>
  <img src="img/salseros.jpg" width="1819" height="424" alt="performance by los Salseros de Stanford" />
  <figcaption>Performance by los Salseros de Stanford.<figcaption>
</figure>
<main>

<h1>Austria Fortnight Classes</h1>

<h2>What is the Austria Fortnight?</h2>
<p>To help everyone get into the spirit of social dance, our Austria Fortnight classes are 14 informal dance lessons at Stanford’s campus in the two weeks before the Viennese Ball. These classes are <b>free</b> and <b>open to the public</b>, and you can attend as many as you’d like. The Austria Fortnight is kicked off by the <i>Bon Bon Ball</i>.
<p>Please bring water and wear comfortable clothing (most people wear athletic wear) and socks or dance shoes that you can move easily in. Classes will begin promptly at the indicated time and progress quickly, so be sure to arrive a few minutes early to get the most out of them. No partner necessary, we will rotate partners often.
<p>Classes are 2 hours long with open social dancing to practice for the rest of the time. Feel free to show up to the social dancing portion of any of the classes as well.
<p>Recap videos of last year’s lessons can be found <a href="https://drive.google.com/drive/u/0/mobile/folders/1s8DQCaGioNRnY1_3grutC1FnrldEN62t" target="_blank" rel="noopener noreferrer">here</a>.

<hr />
<h2>Austria Fortnight Schedule</h2>
<p>Check back later for this year's Austria Fortnight schedule!

<hr>
<h2>Locations</h2>

<style>
.locations { width:100%; max-width:40rem; }
.locations img { width:100%; }
.locations td:last-child { width: 200px; }
.locations td:first-child { font-size:1.2rem; font-weight:bold; font-style:italic; }
.locations td { vertical-align:top; padding-top:1rem; }
.locations td:not(:first-child) { padding-left:1rem; }
</style>

<table class="locations">
<tr>
  <td>Elliott Program Center</td>
  <td><a href="https://maps.app.goo.gl/iJ9FX9rtdd3YxL886" target="_blank" rel="noopener noreferrer">Google Maps</a></td>
  <td><img src="img/location-epc.jpg" alt="Elliott Program Center location" /></td>
</tr>
<tr>
  <td>EVGR B Yoga Room<br>(Room 140)</td>
  <td><a href="https://maps.app.goo.gl/hwzPkmsr29uCzvD17" target="_blank" rel="noopener noreferrer">Google Maps</a></td>
  <td><img src="img/location-evgrb.jpg" alt="EVGR B Yoga Room location" /></td>
</tr>
<tr>
  <td>EVGR C Dance Studio<br>(Room 153)</td>
  <td><a href="https://maps.app.goo.gl/UmcmfBSHTAxqB2gy7" target="_blank" rel="noopener noreferrer">Google Maps</a></td>
  <td><img src="img/location-evgrc.jpg" alt="EVGR C Dance Studio location" /></td>
</tr>
<tr>
  <td>GCC Havana</td>
  <td><a href="https://maps.app.goo.gl/7JmgDaCFReXqVmAK9" target="_blank" rel="noopener noreferrer">Google Maps</a></td>
  <td><img src="img/location-havana.jpg" alt="GCC Havana location" /></td>
</tr>
<tr>
  <td>Rains Hacienda</td>
  <td><a href="https://maps.app.goo.gl/NgcWLjxzMZJz7XQg8" target="_blank" rel="noopener noreferrer">Google Maps</a></td>
  <td><img src="img/location-hacienda.jpg" alt="Rains Hacienda location" /></td>
</tr>
<tr>
  <td>Roble Gym<br>R113<br>R114<br>R115</td>
  <td><a href="https://maps.app.goo.gl/UBCv7rU7rYZKrFFm9" target="_blank" rel="noopener noreferrer">Google Maps</a></td>
  <td><img src="img/location-r113.jpg" alt="Roble Gym location" /></td>
</tr>
</table>

<hr>
<h3>What does beginner or intermediate mean?</h3>
<p>Beginner classes will take you from the basic steps of the dance style through some basic moves and allow you to get in lots of practice. Intermediate classes will go more quickly through the basics and move on to teaching different variations of the style to add to your repertoire. All classes are open to everyone regardless of experience. Excited to see you there!</p>

<hr>
<h2>Resources</h2>
<p>Here are some useful links to recap and learn more!</p>
<p><a href="dance-etiquette">Dance Etiquette</a></p>

<p style="margin-bottom:.25rem">Library of Dance Demo Videos:</p>
<ul style="margin:0">
  <li><a href="https://www.libraryofdance.org/dances/bachata" target="_blank" rel="noopener noreferrer">Bachata</a></li>
  <li><a href="https://www.libraryofdance.org/dances/cha-cha" target="_blank" rel="noopener noreferrer">Cha-Cha-Cha</a></li>
  <li><a href="http://www.libraryofdance.org/dances/cross-step-waltz" target="_blank" rel="noopener noreferrer">Cross-step waltz</a></li>
  <li><a href="https://www.libraryofdance.org/dances/polka" target="_blank" rel="noopener noreferrer">Polka</a></li>
  <li><a href="http://www.libraryofdance.org/dances/waltz" target="_blank" rel="noopener noreferrer">Rotary waltz</a></li>
  <li><a href="http://www.libraryofdance.org/dances/swing" target="_blank" rel="noopener noreferrer">Swing</a></li>
  <li><a href="http://www.libraryofdance.org/dances/salsa" target="_blank" rel="noopener noreferrer">Salsa</a></li>
  <li><a href="https://www.libraryofdance.org/dances/tango" target="_blank" rel="noopener noreferrer">Tango</a></li>
  <li><a href="https://www.libraryofdance.org/dances/west-coast-swing" target="_blank" rel="noopener noreferrer">West Coast Swing (WCS)</a></li>
</ul>

<p style="margin-bottom:.25rem">Recap Videos:</p>
<ul style="margin:0">
  <li><a href="https://drive.google.com/drive/folders/1OH4LThmvLWagKvNrEVzEKYnOXxSgMkfM" target="_blank" rel="noopener noreferrer">2025 (Google Drive)</a></li>
  <li><a href="https://drive.google.com/drive/folders/1vA0WIVyBygclUdh-3zBDZMtQ5ld0a-Eh" target="_blank" rel="noopener noreferrer">2024 (Google Drive)</a></li>
  <li><a href="https://www.facebook.com/events/547137755762841" target="_blank" rel="noopener noreferrer">2020 (Facebook)</a></li>
</ul>

</main>
{% include foot.html %}
