{% include head.html page="dance-etiquette" %}
<figure>
  <img src="img/couple.jpg" alt="a couple performing in the Waltz Competition" />
  <figcaption>A couple performs in the Waltz Competition.</figcaption>
</figure>
<main>

<h1>Dance Etiquette</h1>
<p>Viennese Ball is dedicated to providing a safe and comfortable experience for everyone, regardless of gender, age, sexual orientation, ability, physical appearance, body size, race, religion (or lack thereof), socioeconomic status, beliefs, or experience.
<p>Steering Committee members can be easily identified by the sashes they will be wearing and are always available for you to approach if an individual is making you feel uncomfortable.
<p>Here’s a guide to helping keep our dance environment safe and enjoyable for everyone:<p>

<style>
.etiquette { display:flex; flex-flow:row wrap; gap:2rem; margin: 3rem 0; }
.etiquette > div { flex:1 0 250px; }
.etiquette b { display:block; margin:0; font-size:1.3rem; }
.etiquette p { margin:.5rem 0 0; }
</style>
<div class="etiquette">
  <div>
    <b>Ask first</b>
    <p>Anyone can ask anyone else to dance. Do so verbally, especially if you don’t know them well.
  </div>
  <div>
    <b>It’s okay to say no</b>
    <p>Everyone always has the right to decline a dance. A polite “no, thank you” will do, no reason needed.
  </div>
  <div>
    <b>Listen when told no</b>
    <p>Don’t ask why. It’s probably not you. Respect their wish and ask someone else instead.
  </div>
  <div>
    <b>Be inclusive</b>
    <p>The dance floor’s a happier place if you dance with people of lots of different experience levels and backgrounds.
  </div>
  <div>
    <b>Don’t hit on people</b>
    <p>People go to dance, not find a date. Don’t flirt or try to pick someone up during a dance. <a href="https://www.richardpowers.com/sketchy-guys">Read more</a> by Richard Powers.
  </div>
  <div>
    <b>Any role you want</b>
    <p>Anyone can choose to lead or to follow. Don’t assume role based on gender expression or what they just danced.
  </div>
  <div>
    <b>Listen to your partner</b>
    <p>Be attentive to your partner; never force a move on them. If you’re not sure whether they’re up for that dip or close embrace, just ask first!
  </div>
  <div>
    <b>Don’t teach on the floor</b>
    <p>Don’t correct others’ dancing unless they ask: it’s not as helpful as you think. Exception: If something physically hurts or is uncomfortable, please tell your partner.
  </div>
  <div>
    <b>Smell like nothing</b>
    <p>Use deodorant. Don’t wear perfume or cologne (three minutes is a lot). Breath mints will be available, use them. If you sweat a lot, consider bringing a spare shirt.
  </div>
  <div>
    <b>Watch for others</b>
    <p>Both partners are responsible for floorcraft: preventing collisions with other couples. If you bump into another couple, apologize. In the waltz room, fast lane on the outside, slow lane on the inside.
  </div>
  <div>
    <b>No aerials, no lifts</b>
    <p>Even if you can do them, they’re dangerous with other dancers around. Don’t do them on a social floor.
  </div>
  <div>
    <b>Have fun!</b>
    <p>Everyone’s there to have a fun time. Enjoy yourself and do what you can to make the night a memorable one for others too!
  </div>
</div>

<p>Many of the statements above draw inspiration from fellow social dance venues. Here are some codes of conduct from local dance venues which elaborate further on the ideas presented above:
<ul>
  <li><a href="https://www.richardpowers.com/going-out-dancing">Richard Powers’ Guide to Going Out Dancing</a>
  <li><a href="https://www.920special.com/about.html">9:20 Special has a Dance Etiquette section</a>, about halfway down the page
  <li><a href="https://southbayfusion.com/index.cgi?v=0320s9m4">South Bay Fusion Dance Etiquette</a>
  <li><a href="https://www.missionfusion.com/code-of-coduct">Mission Fusion Code of Conduct</a>
  <li><a href="https://wednesdaynighthop.com/code-of-conduct/">Wednesday Night Hop Code of Conduct</a>
  <li><a href="https://drive.google.com/file/d/1t3qqmVjrOMlkHMkkgEMaY1rJGp-5Cg4f">Friday Night Waltz handout</a>, see page 4 for the section on Etiquette
  <li><a href="https://missioncityswing.com/about/coc">Mission City Swing Code of Conduct</a>
</ul>

</main>
{% include foot.html %}
