{% include head.html page="event-info" %}
<figure>
  <img src="img/opening2.jpg" alt="performance by the 2025 Opening Committee" />
  <figcaption>Performance by the 2025 Opening Committee.<figcaption>
</figure>
<main>

<h1>Event and Venue Info</h1>

<p>The <b>48<sup>th</sup> Annual Stanford Viennese Ball</b> will take place on <b>Friday, February 27, 2026</b>, at the <a href="https://maps.app.goo.gl/oMrPX88AdR7GBpaD6">Hyatt Regency SFO</a>!

<p><a href="2026/vball.ics"><img class="icon" src="img/calendar.png">Add to iPhone</a>
<p><a href="https://calendar.google.com/calendar/u/0/r/eventedit?text=Stanford+Viennese+Ball&dates=20260227T193000/20260228T020000&location=Hyatt+Regency+San+Francisco+Airport&ctz=America/Los_Angeles"><img class="icon" src="img/calendar.png">Add to Google Calendar</a>
<p><a href="https://maps.app.goo.gl/oMrPX88AdR7GBpaD6">1333 Old Bayshore Hwy, Burlingame, CA 94010</a>

<hr>
<h2>Venue Map</h2>
<img style="max-width:90%;" src="2026/venue-map.jpg" />
  
<hr>
<h2>Parking and Shuttle Service</h2>
<p>Please check our <a href="#parking">Parking and Shuttles</a> page.

<hr>
<h2>Check-in Process</h2>
<p>Proceed to the Check-In Area at the Old Bayshore Highway side of the hotel. You will find the Coat Check to your left as you enter the venue near Registration. Please form an orderly queue and wait to have your QR code checked by a member of our team. If you have a student ticket, you will be asked to show your Stanford Student ID.
<p>If you are in one of Richard Powers’s social dance classes, please check your name off on the list at registration for credit.

<hr>
<h2>Evening Schedule</h2>
<p>Coming Soon!

</main>
{% include foot.html %}
