---
---
{% include head.html %}
<figure>
  <img src="img/leads.jpg" width="1920" height="450" alt="performance by the leads of Opening Committee" />
  <figcaption>Performance by the leads of Opening Committee.</figcaption>
</figure>
<main>

<h1>FAQ</h1>

<style>
.q::before { content: 'Q: '; display: inline; }
.q { font-style:italic; font-size: 1.4rem; margin:3rem 0 0; }
</style>

<h2 class="q">Do I need to know how to dance?</h2>
<p>Viennese Ball guests come from many different dance backgrounds. No prior dance knowledge is required to attend. For beginners who are looking to get up to speed, fourteen days of free dance lessons are offered on Stanford Campus during Austria Fortnight before the Ball. For those not interested in dancing, the ball hosts many events that do not require dance skills, such as performances and contests.

<h2 class="q">Do I need to bring a date?</h2>
<p>Not at all! While Viennese Ball is a great opportunity to take someone on a romantic date, social dance at its core is about meeting and dancing with many other people. Many attendees go simply to enjoy dancing and socializing, either with friends, in groups, or by themselves. In all cases, Viennese Ball is a fantastic and exciting event.

<h2 class="q">Is the Ball open to guests outside the Stanford community?</h2>
<p>Yes, everyone is welcome. Please make sure to purchase the correct ticket category.

<h2 class="q">What is the dress code?</h2>
<p>Black tie optional, tuxedos and suit jackets optional. No jeans and no high heels, unless they have suede bottoms for ballroom dancing. We recommend flat shoes for everyone. Example outfits: collared, long-sleeve button-down shirt and tie with dress pants or slacks, a long gown, cocktail dress, or pantsuit. Wearing socks is also acceptable, especially for beginners. If you wear high heels to the event, please exchange them for dance shoes or flats while dancing for safety’s sake.

<h2 class="q">Are tickets refundable/transferable?</h2>
<p>Tickets will only be refunded if the University requires that the Ball be cancelled due to its own policies.
Otherwise, tickets are not refundable.
Due to the large volume of potential requests and our limited time as a student organization,
we cannot accommodate individual refunds.
Additionally, student-tier tickets are not transferrable to non-students.

<h2 class="q">How can I help donate/contribute to increasing financial aid for active Stanford students?</h2>
<p>Thank you for supporting financial aid for this event!
You can either purchase a Friends of Viennese Ball VIP ticket
or contribute to financial aid as much as you would like
(minimum suggestion of $10) via our Eventbrite ticket platform</a> at the bottom after you click &ldquo;Get tickets.&rdquo;
To make donations in large amounts,
please contact us directly at
<a href="mailto:stanford.viennese@gmail.com">stanford.viennese@gmail.com</a>.

<h2 class="q">Can children attend the event?</h2>
<p>There is no age requirement to attend the Ball.
However, we do not offer special child pricing or policy exemptions for children.
<p>Additionally, space can quickly get tight on the dance floor.
If you come to the event with a child, you must pay close attention to your child’s safety
and make sure that they do not disrupt performances or other dancers.
Otherwise, the child will be asked to leave with a guardian.
You (the guardian) are solely responsible for your child’s behavior.
We recommend finding space at the perimeters of the event
and outside of seating areas to dance with your children.

</main>
{% include foot.html %}
