---
---
{% include head.html %}
<figure>
  <img src="img/opening.jpg" width="1200" height="280" alt="performance by the Opening Committee" />
  <figcaption>Performance by the Opening Committee.<figcaption>
</figure>
<main>
  <h1>Join us at the 48<sup>th</sup> annual Stanford Viennese Ball on Friday, February 27, 2026, at the Hyatt Regency SFO in Burlingame!</h1>
  <img src="2026/poster.png" alt="illustration of a man and woman dancing in black and white" />

<style>
.links > a:not(:last-child) { padding-right:2ch; margin-right:2ch; border-right:1px solid #000; }
</style>

<p class="links" style="font-size:1.2rem; display:flex; flex-flow:row wrap; row-gap:.5rem; justify-content:center; margin:2rem 0">
  <a href="https://www.eventbrite.com/e/stanford-viennese-ball-2026-tickets-1981665710485" target="_blank" rel="noopener noreferrer"><img class="icon" src="img/ticket.png">Tickets</a>
  <a href="2026/vball.ics" target="_blank" rel="noopener noreferrer"><img class="icon" src="img/calendar.png">Add to iPhone</a>
  <a href="https://calendar.google.com/calendar/u/0/r/eventedit?text=Stanford+Viennese+Ball&dates=20260227T193000/20260228T020000&location=Hyatt+Regency+San+Francisco+Airport&ctz=America/Los_Angeles" target="_blank" rel="noopener noreferrer"><img class="icon" src="img/calendar.png">Add to Google Calendar</a>
</p>

<p>
Let us bring you to the city of Vienna for an evening, where debutant(e)s in sharp tuxedos and flowing white gowns leap across the dance floor, where you waltz to live music and marvel at the soaring aerials of swing dance performers. Dance all night, eat merrily, and make endless memories with friends. Experience a centuries-old Austrian tradition—all without leaving the Bay Area.
</p>

<p>
The Stanford Viennese Ball is run by the Viennese Ball Steering Committee, a volunteer-based student group. We’re really grateful for everything this fantastic team has done so far and we can’t wait to get this event running again! Please feel free to use the website to learn about our fall and winter quarter events, Fall Ball and Little Big Dance, the free social dance lessons that we offer before Viennese Ball, social dance etiquette, and other details like venue, transportation, and event schedule as they are updated.
</p>

<p>
Purchase tickets here:
<a href="https://linktr.ee/svball" target="_blank" rel="noopener noreferrer">https://linktr.ee/svball</a>
</p>

<p>Follow us on social media!</p>

<p>
  <a href="https://www.facebook.com/vienneseball" target="_blank" rel="noopener noreferrer">Facebook</a> |
  <a href="https://www.instagram.com/stanfordvienneseball" target="_blank" rel="noopener noreferrer">Instagram</a> |
  <a href="https://twitter.com/vienneseball" target="_blank" rel="noopener noreferrer">Twitter</a>
</p>

<img style="width:240px; margin-top:4rem;" src="img/vienna.png" alt="logo of the city of Vienna" />
</main>
{% include foot.html %}