---
---
{% include head.html %}
<figure>
  <img src="img/opening.jpg" width="1200" height="280" alt="performance by the Opening Committee" />
  <figcaption>Performance by the Opening Committee.<figcaption>
</figure>
<main>

<h1>Join us at the 49<sup>th</sup> annual Stanford Viennese Ball on Friday, February 19, 2027, at the San Francisco Marriott Marquis!</h1>

<p>The <b>49<sup>th</sup> Annual Stanford Viennese Ball</b> will take place on <b>Friday, February 19, 2027</b>, at the <a href="https://maps.app.goo.gl/CSBZmLAziy2f5sWdA">San Francisco Marriott Marquis</a>!

<p><a href="2027/vball.ics"><img class="icon" src="img/calendar.png">Add to iPhone</a>
<p><a href="https://calendar.google.com/calendar/u/0/r/eventedit?text=Stanford+Viennese+Ball&dates=20270219T193000/20270220T020000&location=San+Francisco+Marriott+Marquis&ctz=America/Los_Angeles"><img class="icon" src="img/calendar.png">Add to Google Calendar</a>
<p><a href="https://maps.app.goo.gl/CSBZmLAziy2f5sWdA">780 Mission St, San Francisco, CA 94103</a>

<hr>
<p>Please check back later for more information, including tickets, schedule,
  and transportation.

<hr>
<p>Follow us on social media!</p>

<p>
  <a href="https://www.facebook.com/vienneseball" target="_blank" rel="noopener noreferrer">Facebook</a> |
  <a href="https://www.instagram.com/stanfordvienneseball" target="_blank" rel="noopener noreferrer">Instagram</a> |
  <a href="https://twitter.com/vienneseball" target="_blank" rel="noopener noreferrer">Twitter</a>
</p>

<img style="width:240px; margin-top:4rem;" src="img/vienna.png" alt="logo of the city of Vienna" />
</main>
{% include foot.html %}
