---
---
{% include head.html %}
<figure>
  <img src="img/crowd.jpg" width="1965" height="460" alt="a large crowd of dancers raise their hands in the air" />
  <figcaption>A crowd of dancers dance the Shim Sham at the Viennese Ball.<figcaption>
</figure>
<main>

<h1>Parking &amp; Shuttles</h1>

<p>
Parking at the Hyatt Regency SFO is available for <strong>$20 with validation</strong>.
</p>

<h2>Shuttles (Stanford students only)</h2>

<p>
<strong>Shuttle tickets are now available on Eventbrite</strong> and are <strong>very limited</strong>. These shuttle tickets are for <strong>Stanford students only</strong>.
</p>

<p>
<strong>Pickup + drop-off location:</strong> Tresidder (in front of the Faculty Club).
</p>

<p>
Get shuttle tickets here (while supplies last):
<a href="https://www.eventbrite.com/e/stanford-viennese-ball-2026-tickets-1981665710485?utm-campaign=social&utm-content=attendeeshare&utm-medium=discovery&utm-term=listing&utm-source=cp&aff=ebdsshcopyurl">
Stanford Viennese Ball 2026 — Eventbrite
</a>
</p>

</main>
{% include foot.html %}